[submodule "src/test/resources/testdata"]
	path = osm-tag-aggregator/src/test/resources/testdata
	url = https://github.com/tagdynamics-org/testdata.git


[submodule "common"]
	path = common
	url = https://github.com/tagdynamics-org/common.git
[submodule "scala-apache-licensed"]
	path = scala-apache-licensed
	url = https://github.com/tagdynamics-org/scala-apache-licensed
